@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: url("background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  /* background: rgba(0, 0, 0, 0.1); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.logo {
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.navbar a {
  position: relative;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: 0.3s;
}

.navbar a:hover::before {
  width: 100%;
  transition: width 0.5s;
}

.form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  margin: 0 auto;
}

.form-container form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}

h2 {
  margin-bottom: 20px;
  color: #fff;
}

.form-container input[type="text"],
.form-container input[type="number"],
.form-container input[type="submit"],
.form-container [type="checkbox"],
.form-container select {
  display: block;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  padding: 8px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}

.form-container label {
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.form-container input[type="submit"] {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

.form-container input[type="submit"]:hover {
  background-color: #c82333;
}

.map-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  margin: 0 auto;
}

#map {
  height: 50vh;
  width: 50vw;
  border-radius: 8px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.7);
}

.table-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  margin: 0 auto;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 8px 16px;
}

table {
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  margin-bottom: 20px;
  font-weight: 500;
}

th {
  text-align: center;
  padding: 12px;
}

td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: transparent;
}

input[type="submit"] {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

input[type="submit"]:hover {
  background-color: #c82333;
}

a.button {
  background-color: rgba(138, 209, 199, 0.5);
  color: white;
  position: relative;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
  margin-right: 8px;
}

a.button:hover {
  background-color: rgba(138, 209, 199, 1);
}

.ajouter {
  margin-top: 20px;
}